extends layout.pug

block content
    if users
        center
            h1 Welcome to the music page!
            p Here is a list of songs by user.
        .row
            for user in users
                .col-md-4
                    +user(user)
        
    else
        center <h1>You dun goofed.</h1>

mixin user(u)
    h2 #{u.username}
    for song in u.songs
        +button(song, u.username)