extends layout.pug

block content
    if user
        h1 #{user.username}'s songs:
        center
            for thing in user.songs
                +song(thing)
    else if users
        center
            h1 Welcome to the music page!
            p Please pick a user to view their songs.
            for user in users
                p
                    a(href='/users/'+user.username) #{user.username}
        
    else
        center <h1>You dun goofed.</h1>

mixin song(s)
    - var s2 = s.filename.split('.')[0];
    b #{s.song_name}
    p Release date: #{(s.release_date.toDateString())}
    center
        audio(controls, src='/music/' + s2)