@import url('https://fonts.googleapis.com/css?family=Roboto');

/* General page styling and nav */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
}

a {
  color: #000000;
  font-style: "bold";
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
}

nav ul {
  font-variant: small-caps;
}

span {
  cursor: default;
}


/* custom classes and whatnot */

.footer,
.player {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 62px;
  line-height: 60px;
  /* Vertically center the text there */
}

.player {
  opacity: 0.001;
}

.player center {
  display: block;
  width: 100%;
  height: 100%;
}

.spacer {
  flex-grow: 1;
}

.footer a {
  color: #ffffff;
}


/* button and song styling */

.button {
  cursor: default;
}

.songtext {
  vertical-align: top;
}


/* big play button styling */

#playbutton {
  cursor: default;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}


/* seek bar styling */

#seekbar {
  width: 33%;
  -webkit-appearance: none;
  background: transparent;
  padding-bottom: 1.6px;
  display: inline-block;
}

#seekbar:focus {
  outline: none;
}

#seekbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  animation: 0.2s;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
  background: #e1e1e1;
  border-radius: 0.5px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

#seekbar::-webkit-slider-thumb {
  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 6px;
  animation: 0.2s;
  border-radius: 0.5px;
  background: #969696;
  -webkit-appearance: none;
  margin-top: -5.8px;
}

#seekbar:focus::-webkit-slider-runnable-track {
  background: #f0f0f0;
}

#seekbar::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
  background: #e1e1e1;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

#seekbar::-moz-range-thumb {
  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 24px;
  width: 10px;
  border-radius: 1px;
  background: #969696;
  cursor: pointer;
}

#seekbar::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#seekbar::-ms-fill-lower {
  background: #d2d2d2;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
}

#seekbar::-ms-fill-upper {
  background: #e1e1e1;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
}

#seekbar::-ms-thumb {
  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 24px;
  width: 10px;
  border-radius: 1px;
  background: #969696;
  cursor: pointer;
  height: 8.4px;
}

#seekbar:focus::-ms-fill-lower {
  background: #e1e1e1;
}

#seekbar:focus::-ms-fill-upper {
  background: #f0f0f0;
}


/* time display bar */

.timekeeper {
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  vertical-align: middle;
}


/* song info */

.song-details {
  display: inline-block;
  line-height: 10px;
  text-align: right;
  font-size: 10px;
  vertical-align: middle;
}