extends layout.pug

block content
    style .song-artist { display: none; }
    if song
        center
            h1 Welcome to the Woofy World home page!
            h3 Here is our most recently uploaded song:
            +altbutton(song)
    else
        center <h1>You dun goofed.</h1>