extends layout.pug

block content
    if users
        center
            h1 Welcome to the music page!
            p Here is a list of songs by user.
        .row
            center
                select(onchange="loadSongButtons(this.value)")
                    for user in users
                        +user(user)
            center
                .results
        
    else
        center <h1>You dun goofed.</h1>

mixin user(u)
    option(value=u.username) #{u.username}